<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>item0</key>
	<dict>
		<key>author</key>
		<string>林意</string>
		<key>content</key>
		<string>人生如过往云烟，我们终究都会老去，能够心平气和的活一辈子，那是一个人的福分，就是没有一帆风顺，只要无愧于心，走一程无悔，也是难能可贵。
有些人会轰轰烈烈陪着走一程，但随着时间的游移，慢慢的由深浓到浅淡，从浅淡到无言，近了远了不停地在改变。就像阴晴不定的天气，刚刚还在为阴云密布感叹，转瞬已晴空万里，那一份湛蓝的开阔依然融入一片柔和。人生随时都在改变很多东西，而能悟透人生中的某些细节，更能让心脉平缓自然的流动。生命不仅需要一份不畏艰难的打拼精神，更需要一份吞吐自如的修养。
生活不可缺少观察和悟性，很多道理都是靠心去领悟出来的。一株幼苗生长于墙角，也许不会有人发现它的特别，几天之后它用一婉芬芳，一副傲人的姿态惊讶了路人的眸光。人生也是一样，不张扬的不等于没有亮点，很多浅淡的释放更惊艳。轰轰烈烈的都未必持久，亦如绚丽的烟花，华丽的出场，惨淡的落幕。很多萌发于心的感动，总是更具回味倾心而绵长。懂是一种感知，是不加修饰的流露，有时候懂比拥有更现实，很多事读懂了就是温暖，悟透了就是智慧。
孤独随时都伴随着人生，各种外界的不协调都会给内心造成一种压力，而承受压力的底线能够引发暴躁、不安，也能使内心走向孤独。有时候一个人变得冷漠了，对一些不合乎常理的事情都看得很淡，那不是内心缺少了热度，而是用一个懂字诠释了自己，不想做无谓的纷争。孤独也不是厌世的沉沦，而是用一种清净的方式去解读自己，用沉淀的清纯去净化心声，给自己一份至真至纯的心性。孤独并不是一种冷漠，当揭去它的外衣，会发现血脉中流淌着火热的真诚。
行于红尘，总会面对过多的不理解，有时候我们选择了沉默，也许沉默是最好的语言。懂你的人什么都不说，一个会心的眼眸，都会倍感温暖。不懂你的人解释的再多，也会越描越乱。懂与不懂之间是一种默契，是一种心灵相拥的感应。人性复杂，很多事情不是靠解释能够说得清，只要无愧于心又何必证明。生存不需要有太多的人去懂你，只要能够懂自己就是最好的了。
人是贪婪而多变的，任何一种东西看久了都会腻，对于满足只是一个说词。就连傻子都有贪欲的心，只是每个人的表露方式不一样罢了。话说回来，假如人失去了贪欲，那么生存的意义也许就不存在了，但贪婪不是一味的索取，而是为了心中的一份美好，自食其力的所得。生活需要激情，激情推动着生命的活力，激情点缀着多彩的人生，但也不能激情过度，那样就乱了章程。
人生面临很多猜忌，家庭中那就属于不够信任。而对于外人，都因为喜欢热闹，常常对他人微小的变动加以分析。比如，喜欢文字的人，偶尔的一处场景，一段音乐，都会构思出一段文字，但有些只是笔者一时的心情加以虚构生成，我们大可不必去依靠几个文字去评估一个人的人生。生活包含太多的细节，决不能因为一个片面的凸露而做出任何断定。
一程山水一程人情，浮世沧桑，冷暖无常，从赏春花到与秋月的对白，必然会遗失一道风景，冷落了一段时光。那一叶知冷的凄婉诉说了悲欢离合的散场。风过有声，而落叶无痕，面对旅途匆匆而过的人流，又有几人心无杂尘的相伴一生？我们终究追不上风尘的脚步，迟疑的刹那也许就是两岸相隔，回眸已是匆匆数年。
最难懂的是人心，物欲膨胀的今天，随时都会改变一个人。今天还是笑语相携，明天也许陌路两行。很多东西不是只靠精心维护就能力及的，很多都建立在利益之上。人性的多变，复杂的内心，流水的人情，给人生涂抹了一道道沧桑的风景。其实我们都渴望一种持久的温度，虽不能与日月同辉，但也温馨一程。行于俗世面对诸多的冷暖，慢慢的学会保护自己，学会了放手，不过多的奢求，保护自己也是一种不伤害他人的方式。以杯水禅心守一份纯静，念一份感动。
最难还的是人情，一份倾心的感动往往会铭记一生。亦如父母的养育之恩，我们就是倾尽一生也是报答不完的。人不能太孤立，孤芳自赏、落雁悲空都不可取，简单的融入利人利己，还不失洒脱的本性。但也不能拖欠太多的人情，久了会成习惯，多了无法还清。保留一份进退自如的底线，会使生活更加圆润。
一个人的性格是与生俱来，而一个人的心情会随着事态的演变而转化，面对诸多的干扰，很难调整一份平和的心性。更多的措手不及，往往很难掌控自己的情绪，冲动会像魔鬼一样控制一个人的心智，把原本并不复杂的事情导入僵局。其实人与人之间没有化解不开的事，只是彼此都缺少了一点思考的时间。
永远也不要忽略自己的价值，当你觉得自己无用的时候，那么信心就会全无，也会以消极的态度慢慢跌入低谷。人生路漫漫，坚强是唯一生存的本能，做人最大的财富是自信，相信自己要比依附任何人都要有保障。永远不要用低俗的眼光评估自己的现状，记住一句话，笑到最后的才是赢家。每个人都有不同的潜能，只是发挥的方式不同。不要跟风，潮流的脚步过快，很多人都在跟风中迷失了自己。而我们能做的就是看清自己，不管外面变换多大，以自己的方式行走，那么自己就是唯一。
不属于你的不要过于强求，过分的执着总会伴随着不同的失落。不停的追逐中疲惫了自己，蹉跎了岁月。而时光总是太过吝啬，回过头来细细品味，才发现我们拥有的并不多，只是在演绎了一个个过客的故事中，充当了一个小角色而已。
生存需要良好的心性来调节生命的平衡，但心性不是打压出来的，忍耐和不发泄是最惨无人道的摧残。心性是对人生的感悟，是面对困惑能迅速做出反应，去尘拂杂把烦乱理清，用豁达和理解释怀的一种心情。这种心性不应该有委屈，而是让彼此都能感受到愉悦，不亏己，也不焦躁于人。
浮世沧桑，握一份对岁月的感知，携一缕时光的暖，以淡看无常的心境行于红尘，与安暖握手，看风尘起落，笑语流年……</string>
		<key>title</key>
		<string>浮世沧桑，淡看无常</string>
	</dict>
	<key>item1</key>
	<dict>
		<key>author</key>
		<string>匿名</string>
		<key>content</key>
		<string>    “这个好看” 
“不不不，还是这个好看”
 “是你穿还是我穿啊，那个颜色不好”
 “我只是给你专业水准的意见啦，不看看我是谁，听我的没错，穿这个显年轻”
 “呃，好吧，听你的”
还记得嘛?  我们曾经的岁月
在他乡，习惯了孤单的角色，身边的朋友多是新的，不了解自己的曾经，我亦不再是喜欢融入人群的少年，搁浅了那份温暖的热闹。
以前，经常给朋友们群发自编自写的短信，想着他们收到了会微笑，会快乐，会满足，因为有人记得，总是暖的，像春日的阳光，清欢悠悠，却很少 给谁打电话，不论是很亲密很好的，还 是有些生疏生分的。
后来，也很少联系了，每个人都淹没在自己的天空之城下，或忙或闲，也许偶尔，都会很想念过去，却知道终是回不去，少了联系不代表不思念。
当我们在两座城市，我翻开名片夹，看着一个个熟悉的名字，想起一片片温馨的场景，却很少会按下拨通键，不知何时，我患了敏感的时空症，害怕隔着遥远的距离打电话，看不见容颜， 只听得到冷冷的声音，即使那边的人在微笑，亦是感觉十分不安，就像一个人突然从我的世界消失，再也不会相见，后会无期。
我害怕这样的感觉，青春年少，我们曾这样走过：初恋，看着对方幸福，快乐；失恋，陪着对方伤心，无奈，现在呢! 很多时候忙碌着自己的事情，与朋友是离多聚少。即便如此，朋友的偶尔的一通电话会带来欣喜，一句寒暄“你还好吗”？也会让人温暖久久。
网上习惯隐身，即使偶尔遇见，也不过是说几句问候的话，有时客套见外，于是，当我们在两座城市，都尘埃落定了，也都用沉默埋葬了自己。
有些东西是骨子里的，即使走在路上，也习惯寻找熟悉的画面，习惯寻觅相似的方向，其实，很想很想，只是不说不说。
以后的我们都长大了，听着略带伤感的流行歌曲，淌着浑浊横流的红尘社会，也许，我们开始懂了，当长大开始泛滥，我们的孤单也开始弥漫。
彷徨，不安，寂寞，孤单，落魄，低头，悲伤，焦虑，迷茫，失意，几乎所有与青春阳光相反的字眼，都可以用来形容我们的心情，好像我们是反青春。
当我们在两座城市，我们还是感受着同一个月亮，同一轮太阳，同一片蓝 天，同一种人生，同一首歌曲，同一类故事，只是我们不在一起了，不在同一 条路上，不过还是同一巷世间心意，同 一叶红尘扁舟。
我喜欢我们的曾经，就像我欢喜我们的现在。相逢是首歌，曾经同行是你和我，青春若九点的骄阳，心儿是年轻的太阳，真诚也活泼，分别的后来，离别也是首歌，思念串联着你和我，同是天涯沦落人，心儿是永远的琴弦，坚定也执着。
轮回的季节的风，又起了，那边的 天气还是寒凉的，想问一声，还好吗？ 思念的尘世的絮，又飘了，这边的温度已经暖和了，想说一句，我很好。
岁月的人，聚了，散了，若浮萍， 当我们在两座城市，你心中有我，我心中有你，即使沉默，也懂得一份情谊的宽厚，那是理解的慈悲。
当着山水，距 离尘路，偷换流年，也依然，但愿人长久，千里共婵娟；夜色倾城，邀约清辉，思念有凭，可以说，海内存知己，天涯若比邻。</string>
		<key>title</key>
		<string>当友谊在不同的城市</string>
	</dict>
	<key>item2</key>
	<dict>
		<key>author</key>
		<string>林清玄</string>
		<key>content</key>
		<string>　　去看古今茗壶展，展会上有许多从明清到现代的名家所制的紫砂壶。
听说这些紫砂壶是可以出售的，但是展览会场上只有编号，没有标价。为什么不标价呢？
“因为怕吓倒来参观的普通民众。”主办单位的人告诉我。
确实，当我问了价钱以后，我也被吓倒了，当代名家的作品要价七八十万，明清的都超过百万了，一把可以盈握的紫砂壶竟有百万身价。
我喜欢紫砂壶，因为经过数百年的发展，紫砂壶的制作工艺已经达到高峰，即使不是名家，普通的工艺师也可以做出很有水准的茶壶。
但是我觉得紫砂壶除了观赏，最重要的还是拿来泡茶，唯有通过泡茶，紫砂壶才算完成它被创作的意义。一把好的紫砂壶除了壶身壶盖间不容发、出汤流畅之外，还应该能提味儿，使茶水的滋味达到最温润的境界。被当成艺术品供人欣赏的紫砂壶，终究只实现了一半功用。
基于这样的观点，一把上百万的茶壶会令我们陷入紧张与执着。用百万名壶泡茶，心里一定很紧张，反而违背了泡茶时那轻松、闲适的心情。
我就像一个富有的买家，摸遍了总价数千万元的茶壶。
当我走出茗壶展的会场时，有一种非常美好的心情，那欣赏茶壶的过程使我感到欢喜，对于这世间许多精美的事物，只要过了我们的眼、穿过我们的心，我们就算拥有了。
回到家，我把在路边以300元买来的茶壶拿出来泡茶，想到我曾把玩过价值数千万的茶壶，于是连那普通茶壶中普通的茶，也增添了芬芳。</string>
		<key>title</key>
		<string>过眼的繁华</string>
	</dict>
	<key>item3</key>
	<dict>
		<key>author</key>
		<string>贾平凹</string>
		<key>content</key>
		<string>    中秋的夜里，我们在院子里盼着月亮，好久不见出来，便坐回中堂里，放了竹窗帘儿闷着，缠奶奶说故事。奶奶是会说故事的，说了一个，还要再说一个……奶奶突然说：“月亮进来了！”
我们看时，那竹窗帘儿里，果然有了月亮，款款地，悄没声儿地溜进来，出现在窗前的穿衣镜上了，先是一个白道儿，再是半圆，渐渐地爬得高了，穿衣镜上的圆便满盈了。月亮还在竹帘儿上爬，那满圆却慢慢又亏了、缺了，末了，便全没了踪迹，只留下一个空镜、一个失望。奶奶说：“它走了，它是多多的，你们快出去寻月吧。”
我们就都跑出门去，它果然就在院子里，但再也不是一个满满的圆了。院子中央，是那棵粗粗的桂树，桂花还没有开，却有了累累的骨朵儿。我们不知道那个满圆儿去哪儿了，却疑心这骨朵儿是繁星变的，抬头看着天空，星儿似乎就比平日少了许多。月亮正在头顶，明显大多了也圆多了，我们能清晰地看见里边有了什么东西。
“奶奶，那月上是什么呢？”我问。
“是树，孩子。”奶奶说。
“什么树呢？”
“桂树。”
我们都面面相觑，倏忽间，好像有一种气息，就在我们身后袅袅，到了头发梢儿上，添了一种淡淡的痒痒的感觉，似乎我们已在月里，那月桂分明就是我们身后的这一棵了。
奶奶瞧着我们，就笑了：“傻孩子，那里边已经有人了呢。”
“谁？”我们都吃惊了。
“嫦娥。”奶奶说。
“嫦娥是谁？”
“一个女子。”
“有三妹漂亮吗？”
“和三妹一样漂亮。”
三妹乐了：“月亮是属于我的了！”
三妹是我们中最漂亮的，我们都羡慕起她来。看着她的狂样儿，心里有了一丝嫉妒。我们便争执起来，每个人都说月亮是属于自己的。奶奶从屋里端出一壶甜酒来，给我们每人倒了一小杯，说：“孩子们，你们瞧瞧酒杯，里面都有一个月亮哩！”
我们都看着那杯酒，果真里边浮起一个小小的满圆。捧着，一动不动，手刚一动，它便酥酥地颤，令人可怜的样子。大家都喝下肚去，月亮就在每一个人的心里了。奶奶说：“月亮是每个人的，它并没有走，你们再去找吧。”
我们越发觉得奇了，便在院里找起来。我们很快就在葡萄叶儿上，瓷花盆儿上，爷爷的锨刃儿上发现了。我们来了兴趣，竟寻出了院门。院门外，便是一条小河，河水细细的，却漫着一大片的净沙。我们从沙滩上跑过去，弟弟刚站到河的上湾，就大呼小叫了：“月亮在这儿！”
妹妹几乎同时在下湾喊道：“月亮在这儿！”
我去两处看了，两处的水里都有月亮。我们沿着河沿跑，水里到处都有月亮。我们都看天上，我突然在弟弟妹妹的眼睛里看见了月亮。我想，我的眼睛里也会有的。噢，月亮竟有这么多——只要你愿意，它就有了。
我们就坐在沙滩上，掬着沙，瞧那光辉，我说：“你们说，月亮是个什么呢？”
“月亮是我所要的。”弟弟说。
“月亮是个好。”妹妹说。
我同意他们的话。正像奶奶说的：它属于我们每个人。我们就又仰起头来看那天上的月亮，我突然觉得，我们有了月亮，那无边无际的天空也是我们的了——月亮不就是我们按在天空上的印章吗？大家都觉得满足了，身子也来了困意，就坐在沙滩上，相依相偎地、甜甜地睡了一会儿。</string>
		<key>title</key>
		<string>月迹</string>
	</dict>
	<key>item4</key>
	<dict>
		<key>author</key>
		<string>唐辛子</string>
		<key>content</key>
		<string>　　 贵惠与四郎结婚50年。丈夫四郎在退休前，是一名卡车司机。20年前，贵惠得了白内障，眼睛几近失明，那之后，不管贵惠去哪里，四郎都陪伴在贵惠身边。因为眼睛失明，贵惠的日常生活全由丈夫四郎照顾着。
东日本大地震时，在大地开始摇晃之后，老夫妻二人牵着手一起赶往避难所，当时二人所处的位置，距离海边只有一公里。眼见着巨浪来袭，四郎拼命抓住贵惠的手往高处逃跑，但还是被追随在后的海浪赶上了，二人一起陷入浊流之中。
眼睛看不见的贵惠，不知道发生了什么事，不由得拼命大声呼喊。在呼啸而来的海浪中，四郎拼命地握住贵惠的手，好几次手打滑，差点就要与老妻分开，但四郎拼了死力气，硬是抓住了贵惠的手，一起逃到了高处的斜坡上。
成功逃离大海啸的这对老夫妻，暂时在老人院里避难栖身，老夫妻的女儿也“大浪逃生”，一家团聚，相拥而泣。回想起在海啸中逃生的情形，四郎仍然心有余悸，说：“那时候，我真的以为要不行了。”
“谢谢你，她爸！”贵惠紧紧握着丈夫的手，流着泪说。失明的贵惠再也看不到她丈夫的模样，但她能感到50年来二人相依为命的心。</string>
		<key>title</key>
		<string>紧紧握住你的手</string>
	</dict>
	<key>item5</key>
	<dict>
		<key>author</key>
		<string>假装在纽约</string>
		<key>content</key>
		<string>    不管是中国人还是外国人，要改变自己固有的观念，走出自己的舒适区去尝试新的事物，都不是一件容易的事。
最近正好是新茶上市，前不久收到竹叶青给我定制的春茶，于是我就带到办公室给同事们尝鲜。几个老外围观了我泡茶的全过程，看着杯子里竖立的茶芽，都发出啧啧的惊叹声。我告诉他们，看茶就如同红酒里的品香一样，是中国茶文化很重要的一部分。
可是，当我把泡好的茶端给他们请他们品尝时，他们犹豫着接过，闻了又闻，就是不敢张口去喝。因为在他们的认知里，茶应该是茶粉、茶包。
而眼前这杯水，充满神秘魔幻的东方气息，美则美矣，但真要咽下肚子，却有点勉为其难。
我一再坚持，告诉他们喝绿茶追求的是新鲜，中国人喜欢用每年春季最新鲜的茶叶招待朋友，所谓“新茶老友”。
出于礼貌，他们小啜了几口，就放在了一边。下班的时候，每个人的办公桌上都还放着满满的一杯茶。
对我来说，在“推广”中国文化时遭受这样的挫败，已经不是第一次了。
有一次和同事聊天，几个人都夸口自己喜欢吃中餐，我对他们说，你们吃的中餐都不是真正的中餐，而是经过改良的美式中餐，在中国根本没有人吃，下次我带你们去吃真正的中餐。
看着他们一脸神往，我一下子来了劲头。第二天中午，我拉着这帮人去了一家很正宗的川菜馆，点了夫妻肺片、蒜泥白肉、水煮鱼、回锅肉和蚂蚁上树。
等菜一盘盘上桌，我的同事们脸上的表情也在慢慢变得诧异。他们小心翼翼地举起筷子，小心翼翼地夹起菜放进嘴里。虽然出于礼貌不停地说很好吃，可是他们的胃没法撒谎，吃了半个小时，大部分的菜都还是满满的一盘。
于心不忍的我只好又善解人意地点了左宗棠鸡和芝麻牛肉。看着他们如释重负又欢欣鼓舞地把这两道美式中餐里最常见的菜一扫而光，我在心里哭笑不得。
在纽约这样的城市，每个人都标榜自己愿意接受新鲜事物，他们夸张地标榜自己热爱中国菜、热爱韩国菜、热爱尼泊尔菜——热爱任何一个国家的菜，就连用筷子都是人人掌握的基本技能。可是很多人这样做，其实仅仅是为了满足自己的社交虚荣心，对他们来说，能够接受的中国菜也就仅限于改良后迎合了他们口味的美式中餐而已。
到过美国的人大概都知道美式中餐是怎么一回事。全美各地一共有4万多家中餐馆，比麦当劳、肯德基和汉堡王加在一起还要多，大城市里街头巷尾几乎随处可见，如果你开车上路，即使在最荒无人烟的偏僻角落，也能看到中餐馆像灯塔一样顽强地矗立在路旁，这些中餐馆大多是中国移民开的小型家庭餐馆。我在地图里搜了一下Chinese Restaurant，结果密密麻麻。
这些中餐馆里最著名的菜就是我上面提到的左宗棠鸡。这个名字其实是误传，它真正的名称是General Tso's Chicken，意思是“左将军的鸡肉”，左将军就是清朝将领左宗棠。这道菜是用大块去皮的鸡肉裹上面粉，油炸后浇上浓稠的糖醋酱，味道又酸又甜，口感有点像咕咾肉。此外，还有芝麻鸡和陈皮鸡，味道都差不多。
美式中餐里最常见的配菜是西兰花，肉类一般是鸡肉和牛肉，由此就诞生了另外两道美式中餐：西兰花炒牛肉和西兰花炒鸡肉。这里用“炒”有点不恰当，因为所谓的炒，其实无非是把肉弄熟了浇点汤汁，至于西兰花，则沿袭美国人的习惯，几乎是生的。
此外，还有鸡肉、牛肉以及虾肉和其他几种蔬菜的组合，但也不外乎青椒、豌豆和蘑菇这几种。所有这些菜的味道也都差不多。
美国人不太吃猪肉，所以中餐馆几乎没有猪肉，不过一部分中餐馆会提供叉烧，当然味道和中国的叉烧是完全不一样的。
还有一道名菜芙蓉蛋，就是把鸡蛋和蔬菜拌在一起油炸，根据顾客口味的不同还会加上牛肉、鸡肉或者虾，另外附送一份不知道怎么弄出来的浓酱蘸着吃。这道菜各个餐馆的口味差别极大，主要区别在于酱，有些餐馆调制的酱味道还算不错，虽然口味奇特，但是挺好吃的。
还有用了很多淀粉勾芡的黏糊糊的蛋花汤，酸辣汤也很普遍。
美国人吃完中餐，还有一个很重要的传统，结账时店员会给每个人发一个签语饼，用鸡蛋和面粉做的，味道有点像蛋卷。打开后里面藏着一张小纸条，一面写着一句励志的“心灵鸡汤”和幸运数字，另一面则会有一个中文词语，配上英文解释。没有人知道在中国完全不存在的签语饼是如何在美国起源的，但是可以肯定的是，几十年前想出这个主意的人是个天才，因为这个小把戏在早期美式中餐流行的过程中功不可没。
这些小中餐馆彼此之间没有任何关系，但每一家看起来都非常相似，就像是连锁餐馆一样，几乎都有一样的店面、一样风格的灯箱招牌和重复率极高的店名。
菜单也都长得很像。
甚至连外卖盒都几乎一模一样，在美剧里经常能看到。
从某种意义上来说，美国的几万家中餐馆就是美国版的沙县小吃——定位低端，价格低廉，开店极多，风格统一，并且都在唱着一首忠诚的赞歌。
接受度颇高的美式沙县小吃是快餐，并非中国美食的正统。茶在中国饮食文化中占有重要一席，在美国的接受度却不高。不过，看到同事们留下的、几乎没动过的竹叶青，我也不会觉得失望。众口难调是普遍现象，更何况是两种饮食文化的碰撞。真正有特色的无一不是个性的，但凡奢侈的都是需要时间的，例如一年只有一次的新茶。
所以我宁愿这一杯早春绿茶，依旧以根根竖立的茶芽和神秘鲜嫩的东方绿，让老外好奇又犹豫，甚至暂时被“嫌弃”，也不愿它为了快速迎合老外的习惯而变成茶粉、茶包，软趴趴的一坨，没了原来的精气神，然后还要跟其他的茶包竞争。</string>
		<key>title</key>
		<string>一杯茶引发的思考</string>
	</dict>
	<key>item6</key>
	<dict>
		<key>author</key>
		<string>许亿</string>
		<key>content</key>
		<string>　　我爷爷是泰州人，当干部多年，游历四方，可以说知味天下，更是做得一手好菜，其中红烧肉尤可称为经典。这经典的由来说起来有点难堪，主要是因为我奶奶这个人比较小气，买肉总爱买些大肥肉（瘦肉很少的那种），如何做好这些肥肉，没有一点人生智慧还真是很难。我爷爷智慧了得，所以一招破解，这招叫作“化肥为油”，秘诀如下：肥猪肉切大块，葱姜用热油炒香，放肉煸炒，加白酒去味，而后重糖、红酱油、微醋加水大火烧开后，放小火慢炖至肉烂汤稠，再放盐增味。关键的一步来了，家传秘方首次公开，这关键的秘诀就是在最后再次微火煸炒。记得当年，我爷爷坐在厨房外面的小板凳上，在一个小炭炉上慢慢翻炒这一锅红烧肉，直炒得汤汁全收，肥肉出油。这个说起来简单，但往往度掌握不当——炒不充分，肯定味道不够;炒过了，肉就会被炒焦。爷爷几乎没有失手过，但见一锅肉炒到最后往往只剩寥寥的几小块和一大碗油。在他炒肉的时候，香气在黄昏弥漫，每个人的胃口都得到足够的酝酿，所以到吃饭的时候，就着一两块肉可以吃下一大碗饭。肉汁浇在白米饭上，染成油油的酱红色，每粒米被糖油浸泡，吃起来甜香无敌，回甘无穷。只抱怨自己的胃口实在太小，已经添不了第二碗饭。
爷爷去世以后，此等佳味几乎不再，虽然我们都声称已得真传，但说老实话，做得最好的时候，也只是有几分相似。而且，我爸做成一种，我三叔做成一种，我又做成另一种。形式上或有，内涵上全无。即便我二叔正经学过厨艺，在部队操过大勺，做的红烧肉也是绝佳，但和我爷爷做的红烧肉已完全是两种风格。
我想，纵然有一天我可以完全复制了，也不会再有往昔的那个味道，因为不会再有我爷爷黄昏下坐在厨房外面的小板凳上，用一口小铁锅在小炭炉上慢慢翻炒肉块的身影。假如非要把这失去的味道定义出来的话，我想这失去的味道大概就是期待和想念吧。</string>
		<key>title</key>
		<string>每个人的红烧肉</string>
	</dict>
	<key>item7</key>
	<dict>
		<key>author</key>
		<string>梁文道 </string>
		<key>content</key>
		<string>    日本的茶道艺术包罗万象，举凡日本的建筑、花艺、绘画、陶瓷、纺织乃至美食，莫不受到茶道的影响，也莫不在茶道大师的关注之中。进而言之，就连说话的语气、走路的姿势与举止，也是判定一位茶道家境界的要素。
由于洁净是茶道的必要条件，所以打扫与清洁也就不能不跟着艺术走了。比方说茶室里最幽暗的角落，纵使客人根本无暇顾及，主人也必须拭抹得一尘不染。可是仲夏之际，从一株百合花上无意滴落在地板上的水珠，却应任其留存，因为它暗示着水一般的纯净与清爽。
日本美术史之父冈仓天心，在他的经典著作《茶之书》里还讲过这么一则故事：
茶道史上最伟大的人物千利休，曾经让他的儿子绍安打扫茶室外的庭径，当绍安依言完成父命之后，千利休却吩咐他再扫一次。于是绍安很听话地又扫了整整一小时。然而，千利休还是不满意，他说：“这还不够干净。”绍安很无奈地回道：“父亲大人，已经再没有东西好清理了，小径已经刷洗了三次，石灯笼跟树梢上都洒了水，苔藓和地衣看起来都生气勃勃、洋溢生机，哪怕是一根小树枝，或者是一片落叶，在地上都找不到。”孰料千利休竟然斥道：“蠢蛋，庭径不是这样扫的。”他步入庭中，抓住一棵树的树干摇起来，园内登时洒满红黄落叶，片片皆是秋之锦缎。
这个有名的故事，不仅象征着茶道那落叶飞花皆可赏玩的精神，还被人当作是日本美食之道的唯美体现。
就以日本菜盘碟中的摆饰来说吧，我们不是常常在上面看到一枝枯得只剩下叶脉的枫叶，又或者几朵含苞待放的樱花吗？它们的作用就和千利休故意摇下来的树叶一样：一方面是用人为的方式刻意营造出一种自然的意趣;另一方面则是要提醒客人季候的变化，把节令推移的神工纳进创作者的巧心布局中来。
然而，这一招却常被只得其形未得其神的庸人用坏。他们会在盛夏之际为一尾冬季才当时令的烧鱼配上黄叶，不只忽略了鱼料本身的天然期限，在不对的时节硬性按照菜谱找来不对的摆饰，也漠视了室外天气对客人观感的影响。这类人似乎是看着照片学盘饰的，怎么好看就怎么摆，违背了美食的精髓却不自知。
千利休这个举动更深一层的意义在于制造瑕疵，于无瑕的状态中打开缺口。这种追求是茶道的特色，也一样贯注在食物的味道之中。如秋刀鱼的苦，多一分就不堪入口，差一点则平凡无奇;又如鱼生之鲜、寿司饭之酸，几乎就要呈现出腥腐的感觉，却停在不可增不可减的那一点，永远不是完整的肯定或否定。
把茶道视为日本艺术甚至东方文化的最高体现，不只是日本人自己固有的想法，甚至也是许多外国人的印象。例如茶室的尺寸，如此狭小，只有四叠半榻榻米，相当于7.29平方米。大家都说这是佛教精神的体现，非常有禅意。因为维摩诘居士就是在这么小的房间里接见前来探病的文殊菩萨以及其他佛门弟子的。看似不可思议，却是纳须弥于芥子，真正打破了俗世空间概念的限制。
例如茶室的入口，如此低矮，只有约0.9米高，任何人都得跪下来屈膝弓身而进。哪怕是武士，也要先解下佩剑，才能获准入内。他们又说这象征了平等，在茶道面前，不分贵贱，人人都要谦和克己。
又如进入茶室的时机。客人要先在外头的“待合室”里静心等候，培养品茶的情绪。直到主人召唤，才按照顺序鱼贯入室。这个过程必须尽量安静，以不发出任何声音为妙。所以最讲究的主人会用最静谧的方法通知客人时候到了，那就是点香。闻到空气中开始飘来一股似有若无的清香，客人便知这是主人的信号。他们觉得，这个状态实在是太美了，除了檀香与海潮般的沸水声外，一切沉静，此乃东方特有的优雅情调。
冈仓天心除了是日本第一个美术史家之外，也是第一个用英文写书介绍茶道的日本人。他在出版于1906年的《茶之书》里就提出过日本是东方文化代表的主张。他和那个时代的许多日本文人一样，一方面非常尊崇中国古典文化，另一方面则慨叹近代中国的衰落沉沦。他说：“对晚近的中国人来说，喝茶不过是喝个味道，与任何特定的人生理念并无关联。”因为“长久以来的苦难，已经夺走了他们探索生命意义的热情”，所以虽然中国人的茶仍然散发香气，却“再也不见唐时的浪漫，或宋时的礼仪了”。言下之意，反倒是日本继承了真正的华夏文化，他们就连制茶的方式也和宋朝一样是抹茶。
“礼失而求诸野”，这也是今天不少中国人去过日本之后的感受。他们会认同冈仓天心的看法，觉得唐宋的建筑、礼仪，乃至一切传说中的高尚品位，都保留在日本了。
把日本看作古典中国的活化石，当然是种很大的误解，完全无视文化的独特性与发展。此外，这种误解还产生了一个很危险的后果，那就是为日本的侵略找到了依据。
冈仓天心对茶道传承的解读与江户时代以来的日本主流意识形态如出一辙，以为中华文化精髓过海东移，正统在日本。相对地，经过元清两朝，中原早已不复旧观。于是源出中土的茶道在日本发扬光大，来自唐宋的文明在东瀛还其真貌。顺着这个逻辑推下来，侵略中国根本不算侵略，而是保护，是把中华文化带回中华大地的义举。冈仓天心没有说过这种话，可是他的同代人说过，冈仓天心只是爱茶，可是他的同代人却想让中国人像日本人一样喝茶。二战期间，中国好些文人之所以成了汉奸，理由也是为了保存中华文明的精华。或者，他们自以为能在那场战争中品尝到想象中的茶味。</string>
		<key>title</key>
		<string>庭中枯叶</string>
	</dict>
	<key>item8</key>
	<dict>
		<key>author</key>
		<string>蔡澜</string>
		<key>content</key>
		<string>    很多年前，我写了一本书《玩物养志》，也刻过同字闲章自娱，拿给师父修改。
“玩物养志，有什么不好？”冯康侯老师说，“能附庸风雅更妙，现在的人就是不会玩，连风雅也不肯附。”
香港是一个购物天堂，但也不尽是一些外国名牌，只要肯玩，有心去玩，贵的有，便宜的更可随手拈来。
很佩服的是苏州男子，当他们穷极无聊时，在湖边舀几片小浮萍，装入茶杯里，每天看它们生长，也是乐趣无穷。我们得用这种心态去玩，而且要进一步地去研究世上的浮萍到底有多少种。从浮萍延伸到其他植物，甚至大树，最后不断地观察树的苍郁，为它着迷。
研究的过程中，我们会看很多参考书，从前辈那儿得到宝贵的知识，便把那个人当成了知己，朋友就增多了。慢慢地，自己也有些独特的看法，大喜。以专家自称时，看到另一本书，原来数百年前古人已经知晓，这才懂得什么叫羞耻，从此做人更为谦虚。
香港又是一个卧虎藏龙之地，每一行都有专家，而怎么成为专家？都是努力得来，对一件事物产生了浓厚的兴趣，不论多么辛苦，也会去学精。当你自己成为一个或者半个专家后，就能以此谋生，不必去替别人打工了。
教你怎么赚钱的专家多得是，报纸的财经版每天指导你，事业成功的老板更会发表言论。书店中充满有钱人的回忆录和传记，把所有的都看遍，你也不见得会发达。
还是教你怎么玩的书，更为好看。人类活到老死，不玩对不起自己。生命对我们并不公平，我们一生下来就哭，人生忧患识字始，长大后不如意事十常八九，只有玩，才能得到心理平衡。
下棋、种花、养金鱼，都不必花太多钱，买一些让自己悦目的日常生活用品，也不会太破费，绝对不是玩物丧志，而是玩物养志。</string>
		<key>title</key>
		<string>玩物养志</string>
	</dict>
	<key>item9</key>
	<dict>
		<key>author</key>
		<string>贾森·茨威格 </string>
		<key>content</key>
		<string>    1972年3月，格雷厄姆在西北密苏里西州立大学商学院的一次演讲中，有人提问，大多数个人投资者为什么失败？他给出一个简要的答案：“失败的主要原因在于，他们过于在意股市当前的运行情况。如果投资者因为所持股票市场价格不合理地下跌而盲目跟风或过度担忧的话，那么他就是不可思议地把自己的基本优势变成了基本劣势。对于这样的投资者而言，他的股票干脆就没有市场报价可能会更好一些，因为这样的话，他就不会因为其他人的错误判断而遭受精神折磨了。”
格雷厄姆用这一段话对自己毕生的经历进行了总结。投资者难得见到这样的话语——它们就像熊市气氛中稳定的稀有气体。如果你牢牢记住这些话，并且以它们来指导你的整个投资活动，那么，你将能够在所有的市场环境中生存下来。那么，格雷厄姆所说的“基本优势”指的是什么呢？茨威格认为，聪明的投资者完全可以自由选择是否追随市场。你享有独立思考的权利，而这种优势恰恰是机构投资者不具备的。因此，个人投资者有理由与机构投资者做得一样好，甚至更好。一方面，聪明的投资者知道自己无法左右持有股票的价格或企业业绩;另一方面，他们也知道可以控制自己能够控制的因素，如交易费用、预期、风险，更重要的是自己的行为。
我们有必要认识自身的能力和弱点，只有这样，才知道为什么要克制自己的情感，以及哪些东西是我们力所不能及的。
——荷兰哲学家贝内迪克特·斯宾诺莎
如果你是池塘里的一只鸭子，由于暴雨的缘故水面上升，你开始在水的世界之中上浮，但此时你却以为上浮的是你自己，而不是池塘中的水。
——沃伦·巴菲特
在纽约市，有一名叫克拉克·哈里斯的肠胃病医生，在不久之前买进了一家农业和建筑设备公司的股票。当有朋友问哈里斯为什么认为这只股票会上涨时，这位在购买股票前通常要做一番研究的医生坦率承认，自己对这家位于荷兰的公司几乎一无所知。显然，从来就没有离开过大都市的哈里斯，既不了解农业拖拉机，也不知道干草打包机，更不熟悉推土机或是锄耕机。但不知道出于何种原因，他就是喜欢这只股票。克拉克·哈里斯医生的解释是，自己的全名是克拉克·尼尔森·哈里斯，而这家公司股票在证券交易所的交易代码也是CNH，这恰好和自己名字的3个首字母不谋而合。他不无欣喜地承认，这就是自己购买这家公司股票的原因。当朋友问是否还有其他什么原因时，克拉克·哈里斯医生的回答简单明了：“我就是喜欢它，对它有种说不出的好感，没有别的原因。”
做出财务投资决策时，并不是只有肠胃病医生才跟着感觉走。1999年，电脑读写公司的股票在一个交易日内狂涨33%，至于背后的原因，仅仅是公司名称在这一年里和疯狂至极的.com联系到了一起。1989年至1999年期间，出现了一类特殊的股票，它们的市场业绩居然比业内其他股票高出63个百分点。究其原因，仅仅是因为这些股票的发行公司堂而皇之地把.com、.net或Internet放在自己的名字里。
在波士顿凯尔特人队（主场位于马萨诸塞州波士顿市。球队获得过17次总冠军，位居NBA球队之冠——译者注）股票公开上市交易的那段时间里，其价格基本不受新球馆建成等重要经济因素的影响，相反，股价的涨跌几乎完全依赖于球队在前一天晚上比赛的胜负结果。至少从短期来看，凯尔特人队的股价并不取决于收入或是净利润等基本因素，而是被球迷最关心的东西所左右，比如说昨天晚上的比分。
其他投资者对感觉的依赖，甚至比哈里斯医生或是凯尔特人队的球迷们更加严重。2002年年底，一位交易商在解释自己买进脆奶油甜甜圈公司股票原因的时候，在网上曾经直言不讳地说：“太不可思议了，我们老板竟然以每个6美元的价格为全公司买了300多个甜甜圈。天哪，太美妙了！千万不要用咖啡就着甜甜圈吃，那就糟蹋了这么好吃的东西了。还是再买点股票吧。”谈到奶油甜甜圈公司的股票，另一位投资者在网上论坛中大肆宣称：“这只股票肯定会直线飙升，因为他们的甜甜圈太好吃了。”
这些判断的第一个共同点在于，它们都源于直觉。购买这些股票的投资者并没有对投资进行研究分析，相反，他们只是在跟随着自己的感觉、情绪或是预感。而第二个共同点则在于，他们都是错误的。自从克拉克·哈里斯医生买进CNH之后，该公司的业绩就一直低于市场大盘;很多互联网股票在1999年至2002年期间的跌幅竟然超过90%;事实上，在休战期，波士顿凯尔特人队的股价甚至比赛季期间还要高;脆奶油甜甜圈公司股票的下跌幅度则高达75%，此时的甜甜圈和以前一样酥脆可口。
但是这样的思维模式绝不只属于那些看似天真幼稚的散户投资者。一项针对250位金融分析师进行的调查发现，在投资估值中，他们的首要任务就是把干瘪枯燥的事实编织成一个楚楚动人而又不乏说服力的“故事”。基金经理总喜欢高谈阔论一只股票是否让他们“感觉良好”，而专业交易商们则习惯凭“直觉告诉我”这样的论调，每天将几十亿美元把玩于股掌之间。据说，世界上最富声望的对冲基金经理乔治·索罗斯，就曾因为背痛而抛掉手里的股票。
在《眨眼之间》一书中，格拉德威尔指出：“眨眼之间做出的决策，完全有可能和那些经过深思熟虑、搜肠刮肚做出的决策一样，取得令人满意的效果。”格拉德威尔绝对是一个超一流的作家，但在投资这个问题上，他的观点绝对是相当冒险的。当所面临的状况比较简单时，直觉的确可以为我们带来灵光一现的精彩决策。遗憾的是，我们在投资中所面对的选择很少会这么简单，而影响成功的关键性因素也很可能起伏动荡（至少短期来看是这样的）。
在某些时候，债券也许符合这个条件，但是当你买进债券后会发现，它只能带来那么一点可怜巴巴的回报;手里的新兴市场股票也许让你郁闷不已，然而，就在你刚刚出手时，它却有可能急速上涨，甚至转眼之间便翻上几番。在嘈杂喧嚣的金融市场上，唯一永恒的也许就是墨菲定律（即有可能出错的事情，就会出错——译者注）。这个定律缘于美国一位名叫墨菲的上尉，他认为自己的一位伙伴是个灾星，便讽刺他说：“如果有什么事可能会被弄糟的话，只要让他去做，就一定会弄糟。”墨菲定律在理论上可以表述为：如果做一件事有多种可供选择的方法，且其中至少有一种方法可能会带来失败，那么，必定有人会采取这种做法。事实就是这样：任何可能会出错的事情注定会出错，而且总会出现在你最不希望它出现的时候。
火车穿过一个个十字路口，在暮色中匆匆地越过了一大片郊区。也许在她睡一觉把他移交给褪色的历史之前，她会留意到那片夕阳，会稍作停留，会想起以往的时光。这个昏暗的薄暮将永远遮蔽阳光、树林、鲜花，和他那欢声笑语的年轻世界。
——〔美〕F.S.菲茨杰拉德《那些忧伤的年轻人》</string>
		<key>title</key>
		<string>池塘里的鸭子</string>
	</dict>
</dict>
</plist>
