<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>item0</key>
	<dict>
		<key>content</key>
		<string>善待每一位亲人，哪怕他是一条狗。19岁的狗狗Schroep患上了关节炎，只有在家附近的湖水拥抱下才能入睡。41岁的John Unger每天选择这样的方式让相伴19年的亲人睡上一个好觉。</string>
		<key>image</key>
		<string>0.png</string>
		<key>title</key>
		<string>善待每一位亲人</string>
	</dict>
	<key>item1</key>
	<dict>
		<key>content</key>
		<string>一家人与自己熊熊燃烧的房子最后一张合影。看到这样的充满正能量的笑容，生活中还会有负能量影响到你吗？向对待朋友那样对待你的生活，不强求，不回头。</string>
		<key>image</key>
		<string>1.png</string>
		<key>title</key>
		<string>不强求，不回头</string>
	</dict>
	<key>item10</key>
	<dict>
		<key>content</key>
		<string>20年前，宁波大学南天门教学楼前，奶奶推着婴儿车里的孙子；20年后，孙子推着轮椅上89岁的奶奶：“南天门被繁枝茂叶挡住了，二十年匆匆别过，我们都长大了，您却老了。”</string>
		<key>image</key>
		<string>10.png</string>
		<key>title</key>
		<string>流光容易把人抛</string>
	</dict>
	<key>item11</key>
	<dict>
		<key>content</key>
		<string>在俄罗斯与美国交界的蛮荒之地，气候恶劣。食物不足时，白熊会向人类求助。图为当地居民给饥饿的白熊妈妈提供炼乳，白熊宝宝忍不住抱住了这位叔叔。</string>
		<key>image</key>
		<string>11.png</string>
		<key>title</key>
		<string>@“人性”</string>
	</dict>
	<key>item12</key>
	<dict>
		<key>content</key>
		<string>这张照片是日本人拍摄，前面是严阵以待的日本兵，所有的枪和炮都对准了唯一一辆孤零零的国军战车，这辆孤零零的中国战车，正在冲向日军的阵地……旅日作家萨苏看到后第一反应是：“国破山河在”！一张令人潸然泪下的旧照，让我们想到国家危难时，那种视死如归的豪情！</string>
		<key>image</key>
		<string>12.png</string>
		<key>title</key>
		<string>孤独的冲锋</string>
	</dict>
	<key>item13</key>
	<dict>
		<key>content</key>
		<string>因为一场事故，大丹犬小白的眼睛瞎了，在过去的5年里，小灰，另一只大丹犬，成了它的眼睛。它陪伴它觅食，它带着它穿过一片片草地，看遍一次次日出日落，“你是我的眼，带我领略四季的变换……”，这样一份不离不弃的感情，感动你了吗？</string>
		<key>image</key>
		<string>13.png</string>
		<key>title</key>
		<string>你是我的眼</string>
	</dict>
	<key>item14</key>
	<dict>
		<key>content</key>
		<string>一颗真正热爱生活的心就会让人看起来很美，美得很有生气的两个人。</string>
		<key>image</key>
		<string>14.png</string>
		<key>title</key>
		<string>最美</string>
	</dict>
	<key>item15</key>
	<dict>
		<key>content</key>
		<string>一名悄悄拭泪的老人，车窗内他的亲人正向他默默地招手道别离。暮年离别，或许这是他们最后一次说再见。珍惜相聚的日子，珍惜身边的人，珍惜在一起的时光。</string>
		<key>image</key>
		<string>15.png</string>
		<key>title</key>
		<string>珍惜身边的人，珍惜在一起的时光</string>
	</dict>
	<key>item16</key>
	<dict>
		<key>content</key>
		<string>你们看见狗狗的眼神了吗？以前看过纪录片，说有的警犬在主人退役后，不吃不喝忧郁而死的。</string>
		<key>image</key>
		<string>16.png</string>
		<key>title</key>
		<string>退伍之日</string>
	</dict>
	<key>item17</key>
	<dict>
		<key>content</key>
		<string>2000年，25岁的贝克汉姆和他的大儿子布鲁克林一同走在曼联的老特拉福德球场。父子之间的笑容感染了多少球迷</string>
		<key>image</key>
		<string>17.png</string>
		<key>title</key>
		<string>父子之间的笑容</string>
	</dict>
	<key>item18</key>
	<dict>
		<key>content</key>
		<string>黄山，中国5A级旅游景区、国家级风景名胜区、全国文明风景旅游区示范点，中国十大名山之一，在“中华十大名山”排名中居第四位，位于安徽省南部黄山市境内（景区由市直辖），是安徽旅游的标志。</string>
		<key>image</key>
		<string>18.png</string>
		<key>title</key>
		<string>黄山</string>
	</dict>
	<key>item19</key>
	<dict>
		<key>content</key>
		<string>西湖，位于浙江省杭州市西面，是中国大陆首批国家重点风景名胜区和中国十大风景名胜之一。它是中国大陆主要的观赏性淡水湖泊之一，也是现今《世界遗产名录》中少数几个和中国唯一一个湖泊类文化遗产。</string>
		<key>image</key>
		<string>19.png</string>
		<key>title</key>
		<string>杭州西湖</string>
	</dict>
	<key>item2</key>
	<dict>
		<key>content</key>
		<string>这个世界上最不缺的，就是看不起自己的人。别人怎麼看你并不重要，你怎麼看自己决定了一切！我喜欢这句话！</string>
		<key>image</key>
		<string>2.png</string>
		<key>title</key>
		<string>看不起自己的人</string>
	</dict>
	<key>item20</key>
	<dict>
		<key>content</key>
		<string>这座位于美国俄勒冈州（Oregon）的火山湖是大约6，850年前马扎玛火山（Mount Mazama ）坍塌形成的。它有一块很有特色的垂直漂浮了一个世纪之久名为“湖的老人”的树桩，这也为它在去年吸引来了接近五百万的游客。</string>
		<key>image</key>
		<string>20.png</string>
		<key>title</key>
		<string>美国俄勒冈州（Oregon）的火山湖</string>
	</dict>
	<key>item21</key>
	<dict>
		<key>content</key>
		<string>普罗旺斯（Provence）位于法国东南部，毗邻地中海和意大利，从地中海沿岸延伸到内陆的丘陵地区，中间有大河“Rhone”流过。自古就以靓丽的阳光和蔚蓝的天空，迷人的地中海和心醉的薰衣草，令世人惊艳。</string>
		<key>image</key>
		<string>21.png</string>
		<key>title</key>
		<string>法国普罗旺斯</string>
	</dict>
	<key>item22</key>
	<dict>
		<key>content</key>
		<string>伦敦是英国的首都，同时也是欧盟区内最大的城市。融入伦敦自身的迷人文化，使其成为旅游揽胜和感受世界各地文化的绝妙佳处。</string>
		<key>image</key>
		<string>22.png</string>
		<key>title</key>
		<string>英国伦敦</string>
	</dict>
	<key>item23</key>
	<dict>
		<key>content</key>
		<string>埃菲尔铁塔（法语：La Tour Eiffel；英语：Eiffel Tower）矗立在塞纳河南岸法国巴黎的战神广场，它是世界著名建筑、法国文化象征之一、巴黎城市地标之一、巴黎最高建筑物。</string>
		<key>image</key>
		<string>23.png</string>
		<key>title</key>
		<string>埃菲尔铁塔</string>
	</dict>
	<key>item24</key>
	<dict>
		<key>content</key>
		<string>四大文明古国之一的埃及除有金字塔、木乃伊、狮身人面像等众多令人叹为观止的古迹外，还有美丽的红海海滨和雄伟的阿斯旺大坝</string>
		<key>image</key>
		<string>24.png</string>
		<key>title</key>
		<string>埃及</string>
	</dict>
	<key>item25</key>
	<dict>
		<key>content</key>
		<string>世界上有一个最大最长的珊瑚礁群,它就是有名的大堡礁- Great Barrier Reef,它纵贯蜿蜒于澳洲的东海岸，全长2011公里,最宽处161公里,南端最远离海岸241公里,北端离海岸仅16公里,在落潮时,部分的珊瑚礁露出水面形成珊瑚 </string>
		<key>image</key>
		<string>25.png</string>
		<key>title</key>
		<string>澳大利亚的大堡礁</string>
	</dict>
	<key>item26</key>
	<dict>
		<key>content</key>
		<string>坐落于印度古都阿格的泰姬陵是世界七大奇迹之一 ,到印度旅游的人士大都是慕它的盛名而来,这座世界七大建筑奇迹背后其实有一段哀怨缠绵的历史,了解它的历史的背景,确能增加观赏泰姬陵的趣味 </string>
		<key>image</key>
		<string>26.png</string>
		<key>title</key>
		<string>印度泰姬陵</string>
	</dict>
	<key>item27</key>
	<dict>
		<key>content</key>
		<string>由于它美丽的街道、运河、泻湖和缆车等景观，意大利威尼斯长期以来一直是旅游度假圣地。如果还有其他原因的话，或许是因为这座城市正以每年两毫米的速度下沉。不出一个世纪，威尼斯或许就将成为水里的天堂。</string>
		<key>image</key>
		<string>27.png</string>
		<key>title</key>
		<string>意大利威尼斯</string>
	</dict>
	<key>item28</key>
	<dict>
		<key>content</key>
		<string>马尔代夫群岛长期以来以它原始的沙滩、绿松石色的海水和美丽的度假别墅而为海滩爱好者所钟爱。马尔代夫是由1200个岛屿组成的岛国，也是世界上海拔最低的国家，平均海拔只有1.5米，而且这个数字还在逐步下降。</string>
		<key>image</key>
		<string>28.png</string>
		<key>title</key>
		<string>马尔代夫群岛</string>
	</dict>
	<key>item29</key>
	<dict>
		<key>content</key>
		<string>位于印度洋上的斯里兰卡原名“锡兰”，僧伽罗语意为“光明富饶的乐土”。</string>
		<key>image</key>
		<string>29.png</string>
		<key>title</key>
		<string>斯里兰卡：最佳蜜月胜地</string>
	</dict>
	<key>item3</key>
	<dict>
		<key>content</key>
		<string>右脚是你的人生，左脚是别人眼中的你的人生。</string>
		<key>image</key>
		<string>3.png</string>
		<key>title</key>
		<string>你的人生</string>
	</dict>
	<key>item4</key>
	<dict>
		<key>content</key>
		<string>丢掉的不是小狮子，而是。。。。</string>
		<key>image</key>
		<string>4.png</string>
		<key>title</key>
		<string>那一回首的温存</string>
	</dict>
	<key>item5</key>
	<dict>
		<key>content</key>
		<string>你有没有孤注一掷过？给创业路上的同仁。</string>
		<key>image</key>
		<string>5.png</string>
		<key>title</key>
		<string>创业最有体会，你在跟全世界为敌。</string>
	</dict>
	<key>item6</key>
	<dict>
		<key>content</key>
		<string>信任你的朋友，尽管他们能够轻易伤害到你。(小姑娘蒂皮）</string>
		<key>image</key>
		<string>6.png</string>
		<key>title</key>
		<string>信任你的朋友</string>
	</dict>
	<key>item7</key>
	<dict>
		<key>content</key>
		<string>我叫张伟凡，今年31岁。十年前，刚毕业在北京远郊租的平房的院子里和女朋友一起做饭；现在，我在北京远郊自己买的房子里和太太（还是十年前的女朋友哈）一起做饭；十年后，我希望：还和她一起做饭。</string>
		<key>image</key>
		<string>7.png</string>
		<key>title</key>
		<string>十年后，我希望：还和她一起做饭</string>
	</dict>
	<key>item8</key>
	<dict>
		<key>content</key>
		<string>白俄罗斯的二战老兵Konstantin Pronin，坐在高尔基公园的长凳上。二战结束后的每一年5月9日，他都和当年的战友们相约来此聚会，终于，到了2011年的5月9日，他在这里坐了一整天，独自一个人</string>
		<key>image</key>
		<string>8.png</string>
		<key>title</key>
		<string>独自一个人</string>
	</dict>
	<key>item9</key>
	<dict>
		<key>content</key>
		<string>李安握小金人路边幸福吃汉堡 他一度想要放弃电影委曲求全改学计算机。而李安的妻子察觉到他的消沉；那一夜沉默后，第二天妻子上班前留一句话给李安: 安，要记得你心里的梦想</string>
		<key>image</key>
		<string>9.png</string>
		<key>title</key>
		<string>要记得你心里的梦想</string>
	</dict>
</dict>
</plist>
